.head{
    position: relative;
    display: flex;
    justify-content: center;
}
.head img{
    width: 100%;
    height: 280px;
    margin: 0;
    padding: 0;
    position: relative;
    opacity: 1.65;  
}
.upper-text{
    width: 415px;
    height: auto;
    font-family: Montserrat;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.call-text{
    width: 130px;
    border: 1px solid #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;   
    border-radius: 15px 15px 15px 15px;
    display: flex;
    gap: 5px;
}
.frame4 img{
    width: 17px !important;
    height: 10px !important;
}
.cvall{
    width: 12px !important;
    height: 12px !important;
}
.hicon {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    top: 89%;
    right: 15px;
    border-radius: 50%;
    border: 1px solid #006CBB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hicon img{
        width: 45px;
        height: 45px;       
}
.contactbox{
    width: 1200px;
    height: auto;
    background-color:#FDFDFD;
    border-radius: 12px;
    border: 1px solid #00000026;
    margin-top: 40px !important;
    margin-left: 83px;
    margin-right: 83px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Montserrat;
    align-items: center;
    position: relative;
    gap: 21px;
    padding: 20px;
}
.smallcontact{
    width: 270px;
    height: 134px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
}
.im32{
    position: absolute;
    bottom: 33px;
    right: 33px;
    z-index: 1;
}
.im32 img{
    width: 30px;
    height: 20px;
}
.smallcontact .span{
    font-size: 18px;
    font-weight: 600;
}
.a1{
    background-color: #EAF7FF;
    border: 1px solid #006CBB;
    border-radius: 8px;
}
.a2{
    background-color: #FFEAEB;
    border: 1px solid #FF2934;
    border-radius: 8px;
}
.a3{
   background-color: #FFF2E8;
   border: 1px solid #FF7008;
   border-radius: 8px;
}
.a4{
    background-color: #F6FFCB;
    border: 1px solid #9BAA58;
    border-radius: 8px;
}
.smallcontact img{
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-left: 25px;
}
.location {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-top: 31px;
    padding-bottom: 41px;
}
.loctext {
    text-align: center;
}
.loc iframe {
    width: 100%;
    height: 321px;
}
@media (min-width: 1367px){
    .contactbox{
        margin: 0 auto;
    }
    .location{
        margin: 0 auto;
    }
    .iframe{
        margin: 0 auto;
    }
}
@media (max-width: 1290px) {
    .location{
        margin: 0 auto;
    }
    .loctext span {
        font-size: 18px; 
        margin-top: 20px;
    }
    .loctext p {
        font-size: 12px;
    }
    .loc iframe {
        width: 90%; 
        height: auto; 
        min-height: 200px;
    }
    .loc {
        margin-left: 0; 
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .contactbox{
        width: auto;
        height: auto;
        flex-wrap: wrap;
    }
}
@media (max-width: 400px) {
    .im32{
        display: none;
    }
@media (max-width:750px){
    .upper-text{
        left: 20%;
    }
}
@media (max-width:515px){
    .upper-text{
        left: 10%;
    }
}
@media (max-width:462px){
    .upper-text{
        margin-left: auto;
        margin-right: auto;
        font-size: 8px;
        width: auto;
    }
    .call-text-2{
        font-size: 3px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
}
}