.Jni{
    width: 100%;
    max-width: 1366px;
    height: auto;
    padding-left: 83px;
    padding-right: 85px;
    padding-bottom: 16px;
    padding-top: 40px;  
    margin-left: auto;
    margin-right: auto;
}
.jni-main-box{
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
}
.jni-main-box img{
    margin-left: 25px;
    margin-top: 25px;
}
.jni-box{
    width: auto;
    height: 134px;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
}
.jni-box .tyu{
margin-top: 10px;
margin-left: 25px;
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
text-align: left;
}
.eart{
    position: relative;
    position: relative;
    right: -183px;
    bottom: 54%;
}
.blue{
    width:1208px;
    height: auto;
    padding-left: 30px;
    padding-right: 29px;
    padding-top: 24px;
    padding-bottom: 28px;
    background-color: #EAF7FF;
    border: 1px solid #006CBB;
    margin-top: 0px !important;   
}
.blue-box{
    display: flex;
    gap: 7px;   
}
.blue-box-main{
    width: auto;
    height: auto;
    border: 1px solid #5EBBEC;
    background-color:#FFFFFF;   
}
.dew{
    border: none !important;
    background-color: #EAF7FF;
}
.register-button {
    width: 149px;
    height: auto;
    font-family: Montserrat;
    display: inline-block;
    background-color: #0078D4; 
    color:#FFFFFF; 
    text-decoration: none; 
    font-size: 14px;
    font-weight: 400;
    margin-top: 135px;
    margin-left: 37px;
    padding: 10px;
    position: relative;
    bottom: 27px;
}
.jni-box1{
    margin-top: 0px;
    border-bottom: 1px solid #EAF7FF !important;
    position: relative;
    z-index: 2;
    bottom: -3px;
    height: 140px;
    width: auto;
    left: 11px;
}
@media  (max-width:1351px) {
    .blue-box{
        flex-wrap: wrap;   
    }   
}
.blue-box-main{
    display: flex;
    flex-direction: column;
}

.inner-blue-main1{
    width: auto;
    height: 183px;
    border: 1px solid #5EBBEC;
    background-color: #FFFFFF;
    padding-top: 18px;
    padding-left: 19px;
    padding-bottom: 16px;
}
.inner-blue-main2{
    width: auto;
    height: 100px;
    border: 1px solid #5EBBEC;
    background-color: #FFFFFF;
    margin-top: 10px;
    padding-top: 18px;
    padding-left: 19px;
    padding-bottom: 16px;
}
.inner-blue-main3{
    width: auto;
    height: 100px;
    border: 1px solid #5EBBEC;
    background-color: #FFFFFF;
    margin-top: 7px;
    padding-top: 18px;
    padding-left: 19px;
    padding-bottom: 16px;
}
.inner-blue-main4{
    width: auto;
    height: 100px;
    border: 1px solid #5EBBEC;
    background-color: #FFFFFF;
    margin-top: 7px;
    padding-top: 18px;
    padding-left: 19px;
    padding-bottom: 16px;
}
@media (max-width:1200px){

    .blue{
        width: auto;
    }
    .eart{
        display: none;
    }
    .jni-box1{
        border-bottom: 1px solid #006CBB !important;
        left: 0px;
    }
    .blue{
        margin-top: 10px !important;
    }
}
@media (max-width:400px){
    .register-button{
        width: 100px;
        height: auto;
        margin-right: 10px;
    }

}